/* fix of bug with moving fixed background image in IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}

@-webkit-keyframes shadow-run {
  0%, 100% {
    border-color: transparent;
    box-shadow: 0 0 20px 0 #ed654b;
  }
  20% {
    border-color: transparent;
    box-shadow: 0 5px 20px 0 #ed654b;
  }
  40% {
    border-color: transparent;
    box-shadow: 5px 0 20px 0 #e94626;
  }
  60% {
    border-color: transparent;
    box-shadow: 0 -5px 20px 0 #e73715;
  }
  80% {
    border-color: transparent;
    box-shadow: -5px 0 20px 0 #d92704;
  }
}

@keyframes shadow-run {
  0%, 100% {
    border-color: transparent;
    box-shadow: 0 0 20px 0 #ed654b;
  }
  20% {
    border-color: transparent;
    box-shadow: 0 5px 20px 0 #ed654b;
  }
  40% {
    border-color: transparent;
    box-shadow: 5px 0 20px 0 #e94626;
  }
  60% {
    border-color: transparent;
    box-shadow: 0 -5px 20px 0 #e73715;
  }
  80% {
    border-color: transparent;
    box-shadow: -5px 0 20px 0 #d92704;
  }
}

@-webkit-keyframes growing-spin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(-360deg);
            transform: scale(1.2) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
}

@keyframes growing-spin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(-360deg);
            transform: scale(1.2) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

/* global styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* accessible hiding */
.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);

  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: static;

  margin: 0;
  width: auto;
  height: auto;
  clip: auto;

  overflow: visible;
  white-space: normal;
}

/* <main> focusable for correct tab from skip link */
.main:focus {
  outline: none;
}

/* main containers */
.container {
  position: relative;

  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;
}

.container--products {
  padding: 0 14px;
}

.container--contacts {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row__item {
  margin-bottom: 40px;
}

/* general link styles */
.link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link:hover,
.link:active,
.link:focus {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.link-dark {
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.link-dark:hover,
.link-dark:active,
.link-dark:focus {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
}

/* skip-link styles */
.main-header .skip-link {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 100;

  display: block;
  padding: 10px 15px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;

  border-radius: 20px / 50%;
  background-color: #d07058;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

/* general button styles */
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  border: none;
  border-radius: 20px / 50%;
  background-color: #ed593c;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f2836d;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-color: #be4730;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/* general dropdown styles */
.dropdown {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 100;

  display: none;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.dropdown::before {
  position: absolute;
  bottom: 100%;
  left: 0;

  width: 100%;
  height: 5px;
  content: "";
}

/* general text input styles */
.input {
  padding: 8px 14px 10px;
  height: 44px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;


  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  background-color: #ffffff;
}

.input:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.input:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400;
  color: #999999;
}

::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400;
  color: #999999;
}

.input--error {
  -webkit-animation: shadow-run 0.5s;
          animation: shadow-run 0.5s;
}

/* main header */
.main-header::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  min-width: 1200px;
  height: 655px;
  content: "";

  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}

.main-header--index {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-header--index::before {
  display: none;
}

/* navigation */
.main-menu__list,
.submenu,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu {
  display: flex;
  align-items: flex-start;

  padding-bottom: 20px;
}

.main-header__logo {
  margin-top: 9px;
  margin-right: 10px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 23px;
  width: 600px;
}

.main-menu__item {
  position: relative;

  border-radius: 16px / 50%;
}

.main-menu__item:hover > .dropdown {
  display: block;
}

.main-menu__item:focus-within > .dropdown {
  display: block;
}

.main-menu__link {
  display: block;
  padding: 7px 14px 6px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  border-radius: 16px / 50%;
}

.main-menu__link::after {
  display: block;
  height: 1px;
  content: "";

  background-color: rgba(255, 255, 255, 0.3);
}

.main-menu__item:hover .main-menu__link,
.main-menu__link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu__item:focus-within .main-menu__link {
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu__item:hover .main-menu__link::after,
.main-menu__link:focus::after {
  background-color: transparent;
}

.main-menu__item:focus-within .main-menu__link::after {
  background-color: transparent;
}

.main-menu__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu__link--current,
.main-menu__item:hover .main-menu__link--current,
.main-menu__link--current:active,
.main-menu__link--current:focus {
  color: #ffffff;

  background-color: #d07058;
  box-shadow: none;
}

.main-menu__item:focus-within .main-menu__link--current {
  color: #ffffff;

  background-color: #d07058;
}

.main-menu__link--current::after {
  background-color: transparent;
}

.submenu {
  left: -7px;
  right: auto;

  padding: 4px 0;
  width: 145px;
}

.submenu__link {
  display: block;

  padding: 8px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu__item:first-child .submenu__link {
  font-weight: 700;
}

.submenu__item:first-child::after {
  display: block;
  margin: 3px auto;
  width: 90%;
  height: 1px;
  content: "";

  background-color: #d3d3d2;
}

.submenu__link:hover,
.submenu__link:focus {
  background-color: #fbded7;
}

.submenu__link:active {
  background-color: #f6b5a5;
}

.submenu__link--current,
.submenu__link--current:hover,
.submenu__link--current:active,
.submenu__link--current:focus {
  color: #ffffff;

  background-color: #d07058;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-top: 23px;
  margin-left: auto;
  width: 360px;
}

.user-menu__item {
  position: relative;

  margin-bottom: 10px;
  margin-left: 10px;

  border-radius: 16px / 50%;
}

.user-menu__item:first-child {
  margin-left: 0;
}

.user-menu__item:hover > .dropdown {
  display: block;
}

.user-menu__item:focus-within > .dropdown {
  display: block;
}

.user-menu__button {
  position: relative;

  display: block;
  padding: 8px 16px 8px 45px;
  min-height: 32px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  border-radius: 16px / 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.user-menu__button--search {
  padding: 0;
  width: 32px;
}

.user-menu__button--search .user-menu__icon {
  left: 8px;
}

.user-menu__button--full-basket .user-menu__icon,
.user-menu__item:hover .user-menu__icon,
.user-menu__button:focus .user-menu__icon {
  fill: #323232;
}

.user-menu__item:focus-within .user-menu__icon {
  fill: #323232;
}

.user-menu__item:hover .user-menu__button,
.user-menu__button:focus,
.user-menu__button--full-basket {
  color: #323232;

  background-color: #f8f7f4;
}

.user-menu__item:focus-within .user-menu__button {
  color: #323232;

  background-color: #f8f7f4;
}

.user-menu__icon {
  position: absolute;
  left: 16px;
  top: 7px;

  fill: #ffffff;
}

.search-form {
  padding: 20px 15px;
  width: 340px;
}

.search-form__input {
  width: 100%;
}

.search-form__button:focus {
  position: absolute;
  top: 20px;
  right: 15px;

  border-radius: 5px;
  box-shadow: none;
}

.login-form {
  padding: 20px;
  width: 280px;
}

.login-form__row:not(:last-child) {
  margin-bottom: 20px;
}

.login-form__row:last-child {
  display: flex;
  justify-content: space-between;
}

.login-form__input {
  width: 100%;
}

.login-form__button {
  padding: 10px 25px;
}

.login-form__account {
  margin: 0;
  width: 120px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.basket-form {
  padding: 20px 15px;
  width: 540px;

  text-align: right;
}

.basket-form__table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;

  border-collapse: collapse;
}

.basket-form__table td {
  padding: 8px 14px 17px 0;

  vertical-align: top;
}

.basket-form__table .basket-form__td-delete {
  padding-top: 10px;
  width: 25px;
}

.basket-form__table .basket-form__td-photo {
  padding-top: 0;
  width: 45px;
}

.basket-form__table .basket-form__td-product {
  padding-right: 30px;
  width: 250px;
}

.basket-form__table .basket-form__td-price {
  width: 120px;
}

.basket-form__table .basket-form__td-subtotal {
  padding-right: 0;
  width: 70px;
}

.basket-form__btn-delete {
  display: block;
  width: 11px;
  height: 11px;

  background-image: url("../img/cross-small.svg");
  cursor: pointer;
}

.basket-form__price {
  color: #999999;
}

.basket-form__table .basket-form__total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;

  padding: 15px 0;
  border-top: 1px solid #cacac7;
}

/* header contacts */
.main-header__contacts {
  position: absolute;
  top: calc(100% - 25px);
  right: 27px;
  z-index: 10;

  text-align: right;
}

.main-header__schedule {
  margin: 0;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header__phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

/* slider */
.slider {
  position: relative;

  margin-bottom: 40px;
}

.slider__controls {
  position: absolute;
  top: 565px;
  left: 0;
  z-index: 1;

  display: flex;
}

.slider__toggle {
  display: block;
  margin-right: 8px;
  width: 21px;
  height: 21px;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle:last-child {
  margin-right:0;
}

.slider__toggle:hover,
.slider__toggle:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider__toggle:active {
  background-color: #ffffff;
}

.slider__toggle--current,
.slider__toggle--current:hover,
.slider__toggle--current:focus {
  background-color: #ffffff;
}

.slider__list {
  margin: 0;
  padding: 0;
  height: 605px;

  list-style: none;
}

.slider__item {
  position: relative;

  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

.slider__item::before {
  position: fixed;
  top: -25vh;
  left: 0;
  z-index: -1;

  width: 100vw;
  height: 150vh;
  content: "";
}

.slider__item--green::before {
  background-color: #849d8f;
}

.slider__item--blue::before {
  background-color: #8996a6;
}

.slider__item--brown::before {
  background-color: #9d8b84;
}

.slider__item--current {
  display: flex;
}

.slider__title {
  margin-bottom: 30px;
  width: 675px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  margin: 0 auto;
}

.slider__button {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 32px / 50%;
}

/* promo */
.promo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;
  padding: 16px 20px 25px;
  width: 560px;

  font-weight: 700;
  color: #ffffff;

  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__item--raspberry {
  background-color: #5e0816;
  background-image: url("../img/raspberry-bg.jpg");
}

.promo__item--chocolate {
  background-color: #41271b;
  background-image: url("../img/choсolate-bg.jpg");
}

.promo__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
}

.promo__description {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
}

.promo__button {
  align-self: flex-end;

  margin-top: auto;
}

/* advantages */
.advantages {
  margin-bottom: 40px;
  padding: 25px 20px 23px;

  font-weight: 500;
  color: #323232;

  border-radius: 15px;
  background-color: #ebdec4;
  background-image: url("../img/waffle-pt.jpg");
  background-repeat: repeat;
}

.advantages__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-top: 22px;
  padding-left: 55px;
  width: 540px;

  font-size: 16px;
  line-height: 22px;
}

.advantages__item::before {
  position: absolute;
  top: -14px;
  left: 0;

  width: 49px;
  height: 49px;
  content: "";

  background-position: 50% 50%;
  background-size: cover;
}

.advantages__item--production::before {
  background-image: url("../img/ice-cream.svg")
}

.advantages__item--suppliers::before {
  background-image: url("../img/cow.svg")
}

.advantages__item--ingredients::before {
  background-image: url("../img/eco.svg")
}

.advantages__item--shipment::before {
  background-image: url("../img/thermometer.svg")
}

/* blog-news */
.blog-news {
  padding: 23px 20px;
  width: 560px;

  color: #323232;

  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("../img/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-news__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news__preview {
  display: block;
  width: 285px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;

  border: none;
}

/* subscription */
.subscription {
  display: flex;

  padding: 5px;
  width: 560px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  border-radius: 15px;
  background-image: url("../img/subscribe-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px 20px 35px;
  width: 550px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription__title {
  margin: 0;
  margin-bottom: 35px;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  flex-grow: 1;

  margin-right: 10px;
  width: auto;
}

/* contacts */
.contacts {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 60px 27px;
  min-height: 430px;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #ede6c9;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__legend {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 25px 25px 30px;
  width: 302px;

  color: #323232;
  border-radius: 15px;
  background-color: #ffffff;
}

.contacts__section {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__section:last-of-type {
  margin-bottom: 23px;
}

.contacts__title {
  width: 150px;
}

.contacts__address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__phone {
  margin-top: 5px;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

/* main footer */
.main-footer {
  padding-bottom: 15px;
}

.main-footer .container {
  display: flex;
}

.main-footer .container::before {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0 27px;
  width: 100%;
  height: 1px;
  content: "";

  background-color: rgba(255, 255, 255, 0.3);
  background-clip: content-box;
}

.main-footer--index .container::before {
  display: none;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 40px 70px 0 0;
  padding: 0;
  padding-left: 5px;
  width: 330px;

  list-style: none;
}

.social-buttons__item {
  margin-right: 17px;
  margin-bottom: 15px;
}

.social-buttons__link {
  display: block;
  width: 32px;
  height: 32px;

  color: #ffffff;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
    inset 0 0 0 1px #ffffff, /* hide rendering bug with background image edge */
    0 0 0 3px rgba(255, 255, 255, 0.625);
  opacity: 0.8;
}

.social-buttons__link--tw {
  background-image: url("../img/twitter.svg");
}

.social-buttons__link--in {
  background-image: url("../img/instagram.svg");
}

.social-buttons__link--fb {
  background-image: url("../img/fb.svg");
}

.social-buttons__link--vk {
  background-image: url("../img/vk.svg");
}

.social-buttons__link:hover,
.social-buttons__link:focus {
  box-shadow:
    inset 0 0 0 1px #ffffff, /* hide rendering bug with background image edge */
    0 0 0 3px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-buttons__link:active {
  box-shadow:
    inset 0 0 0 1px #ffffff, /* hide rendering bug with background image edge */
    0 0 0 3px rgba(255, 255, 255, 0.875);
  opacity: 0.8;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 400px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.footer-menu__item {
  margin-bottom: 5px;
  margin-right: 7px;
  padding-left: 22px;
  min-width: 135px;
}

.link--favorite {
  position: relative;

  font-weight: 700;
}

.link--favorite::before {
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;
  content: "";

  background-image: url("../img/heart.svg");
}

.footer-copyright {
  margin-top: 18px;
  margin-left: auto;
}

.footer-copyright__logo {
  display: block;
  margin-bottom: 4px;
  width: 108px;
  height: 39px;
}

.footer-copyright__developer {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-overlay--active {
  display: flex;
}

/* modal popup */
.modal-feedback {
  position: relative;

  padding: 16px 25px 25px;
  width: 480px;

  color: #323232;

  border-radius: 15px;
  background-color: #f8f7f4;
}

.modal-overlay--active .modal-feedback {
  -webkit-animation: growing-spin 0.6s;
          animation: growing-spin 0.6s;
}

.modal-feedback__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form__input {
  margin-bottom: 20px;
  width: 265px;
}

.feedback-form__textarea {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  height: 155px;
  resize: none;
}

.feedback-form__button {
  display: block;
  margin-left: auto;
  padding: 10px 25px;
}

.modal-feedback__close-button {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 18px;
  height: 18px;

  border: none;
  background: #f8f7f4 url("../img/cross-big.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  width: 950px;


  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs__item:not(:last-child)::after {
  margin-left: 7px;
  margin-right: 7px;
  content: "»";
}

/* page headers <h1> */
.page-title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/* product cards */
.products--index {
  margin-bottom: 6px;
}

.products__list{
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.product {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 293px;

  padding-top: 6px;
  margin-bottom: -42px;

  color: #ffffff;

  border-radius: 7px;
}

.product--hit::before {
  position: absolute;
  top: 6px;
  left: 13px;

  width: 61px;
  height: 61px;
  content: "";

  background: url("../img/hit.svg");
}

.product__photo {
  order: -1;

  margin-bottom: 13px;
  border-radius: 50%;
}

.product__price {
  position: absolute;
  top: 215px;
  left: 12px;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product__currency {
  margin-left: 5px;
}

.product__measure {
  font-size: 30px;
}

.product__name {
  margin: 0;
  margin-bottom: 74px; /* pulls product card's height (without button) to the same size with the opened card (with button) */
  width: 256px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.product__button {
  display: none;
  margin-top: auto;
  margin-bottom: 22px;
}

.product:hover {
  z-index: 10;

  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.product:focus-within {
  z-index: 10;

  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.product:hover .product__button {
  display: block;
}

.product:focus-within .product__button {
  display: block;
}

.product:hover .product__name {
  margin-bottom: 8px; /* pulls opened product card's height (with button) to the normal height */
}

.product:focus-within .product__name {
  margin-bottom: 8px;
}

/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 48px 13px 0;
  padding: 0 0 30px;

  list-style: none;
}

.pagination__item:not(:first-child):not(:last-child) {
  margin: 0 2px 0 1px;
}

.pagination__item:first-child {
  margin-right: 4px;
}

.pagination__item:last-child {
  margin-left: 6px;
}

.pagination__link,
.pagination__dir {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.pagination__link {
  display: block;

  padding: 4px 8px;
  min-width: 26px;

  border-radius: 13px / 50%;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link:active,
.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination__dir {
  position: relative;

  display: block;
  width: 16px;
  height: 25px;
}

.pagination__dir::after {
  position: absolute;
  top: 9px;

  width: 10px;
  height: 10px;
  content: "";

  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.pagination__dir--prev::after {
  left: 0;

  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.pagination__dir--next::after {
  left: 4px;

  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pagination__dir--disabled {
  opacity: 0.2;
}

/* filters */
.filters {
  margin-bottom: 18px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filters-form__filter {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  color: white;

  border: none;
}

.filters-form__filter {
  margin-right: 14px;
}

.filters-form__legend {
  margin-left: 16px;
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-form__legend--price {
  float: left;
  margin-right: 4px;
}

.filters-form__field,
.filters-form__option {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;

  border: none;
  list-style: none;
}

.filters-form__field {
  display: flex;
  flex-wrap: wrap;

  padding: 9px 16px 7px;
  min-height: 37px;

  border-radius: 18px / 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.filters-form__field--select {
  padding: 8px 16px;
  width: 195px;

  background-image: url("../img/select-arrow-light.svg");
  background-repeat: no-repeat;
  background-position: 170px center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-form__field--select::-ms-expand { /* IE 10+ */
  display: none;
}

.filters-form__field--select:hover,
.filters-form__field--select:focus {
  color: #323232;

  background-image: url("../img/select-arrow-dark.svg");
}

.filters-form__field--select:focus {
  background-color: #ffffff;
}

.filters-form__field--select option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
}

.filters-form__price-range {
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-form__price {
  margin: 0;
  padding: 0;
  width: 25px;
  max-width: 40px;

  font: inherit;
  color: inherit;

  border: none;
  background-color: transparent;
}

.filters-form__price::-webkit-outer-spin-button,
.filters-form__price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filters-form__price {
  -moz-appearance: textfield;
}

.filters-form__price::-ms-clear {
  display: none;
}

.filters-form__field--slider {
  padding: 7px 0;
}

.slider-contoller {
  position: relative;

  margin: 0 12px;
  padding: 9px 10px;
  width: 196px;
  height: 22px;
}

.slider-contoller__scale {
  width: 176px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.slider-contoller__current-range {
  margin-left: 23px;
  margin-right: 55px;
  height: 4px;

  background-color: #f8f7f4;
  opacity: 1;
}

.slider-contoller__grip {
  position: absolute;
  top: 1px;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 #ababab;
  cursor: pointer;
}

.slider-contoller__grip--min {
  left: 23px;
}

.slider-contoller__grip--max {
  left: 121px;
}

.slider-contoller__grip:hover,
.slider-contoller__grip:active {
  top: 0;

  width: 22px;
  height: 22px;

  border-width: 9px;
  box-shadow: 0 3px 0 0 #ababab;

  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.filters-form__option {
  position: relative;

  margin-right: 17px;
  padding-left: 32px;
}

.filters-form__field--checkboxes .filters-form__option {
  margin-right: 21px;
}

.filters-form__option:last-child {
  margin-right: 0;
}

.filters-form__label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters-form__label::before {
  position: absolute;
  left: 0;

  content: "";

  background-repeat: no-repeat;
  background-position: 0 50%;
  opacity: 0.8;
}

.filters-form__label--radio::before {
  top: -2px;

  width: 22px;
  height: 22px;

  border-radius: 50%;
  background-image: url("../img/radio-off.svg")
}

.filters-form__label--checkbox::before {
  top: -1px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg")
}

input[type="radio"]:checked + .filters-form__label::before {
  background-image: url("../img/radio-on.svg")
}

input[type="checkbox"]:checked + .filters-form__label::before {
  width: 24px;

  background-image: url("../img/checkbox-on.svg");
}

input:focus + .filters-form__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input:disabled + .filters-form__label,
input:disabled + .filters-form__label::before {
  opacity: 0.4;
}

.filters-form__label:hover::before {
  opacity: 1;
}

.filters-form__button {
  margin-bottom: 15px;
  padding: 10px 30px;
  height: 37px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  border-radius: 18px / 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 2px #ffffff;
}

.filters-form__button:hover,
.filters-form__button:focus {
  color: #323232;

  background-color: #ffffff;
  box-shadow: none;
}

.filters-form__button:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}
